#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define U_PST &kp LC(V)
#define U_CPY &kp LC(C)
#define U_CUT &kp LC(X)
#define U_UND &kp LC(Z)
#define U_RDO &kp LC(LS(Z))

#define L0 0
#define L1 1
#define L2 2
#define L3 3

/*


                                       L0

            ╭─────┬─────┬─────┬─────╮      ╭─────┬─────┬─────┬─────╮
            │  W  │  E  │  R  │  T  │      │  Y  │  U  │  I  │  O  │ 
╭─────┬─────┼─────┼─────┼─────┼─────┤      ├─────┼─────┼─────┼─────┼─────┬─────╮
│  Q  │  A  │  S  │  D  │  F  │  G  │      │  H  │  J  │  K  │  L  │ shft│ gui │
╰─────┼─────┼─────┼─────┼─────┼─────┤      ├─────┼─────┼─────┼─────┼─────┼─────╯
      │  Z  │  X  │  C  │  V  │  B  │      │  N  │  M  |  P  | alt │ ctrl│
      ╰─────┴─────┴─────┼─────┼─────┤      ├─────┼─────┼─────┴─────┴─────╯
                        │  L1 │  T  │      │ spc │  L2 │
                        ╰─────┴─────╯      ╰─────┴─────╯

                                       L1

            ╭─────┬─────┬─────┬─────╮      ╭─────┬─────┬─────┬─────╮
            │  @  │  #  │  $  │  %  │      │ pgup│ bspc│  ↑  │ tab │ 
╭─────┬─────┼─────┼─────┼─────┼─────┤      ├─────┼─────┼─────┼─────┼─────┬─────╮
│ esc │ / \ │ [ ] │ { } │ ( ) │ < > │      │ pgdn│  ←  │  ↓  │  →  │ shft│ gui │
╰─────┼─────┼─────┼─────┼─────┼─────┤      ├─────┼─────┼─────┼─────┼─────┼─────╯
      │ und │ cut │ cpy │ pst │ rdo │      │ home| end │ ret | alt │ ctrl│
      ╰─────┴─────┴─────┼─────┼─────┤      ├─────┼─────┼─────┴─────┴─────╯
                        │ L3  │     │      │ spc │  L3 │
                        ╰─────┴─────╯      ╰─────┴─────╯

                                       L2

            ╭─────┬─────┬─────┬─────╮      ╭─────┬─────┬─────┬─────╮
            │  7  │  8  │  9  │  /  │      │  ^  │  !  │  &  │  |  │ 
╭─────┬─────┼─────┼─────┼─────┼─────┤      ├─────┼─────┼─────┼─────┼─────┬─────╮
│  .  │  +  │  4  │  5  │  6  │  *  │      │  ~  │  "  │  ,  │  ;  │ shft│ gui │
╰─────┼─────┼─────┼─────┼─────┼─────┤      ├─────┼─────┼─────┼─────┼─────┼─────╯
      │  -  │  1  │  2  │  3  │  0  │      │  `  │  '  |  _  | alt │ ctrl│
      ╰─────┴─────┴─────┼─────┼─────┤      ├─────┼─────┼─────┴─────┴─────╯
                        │ L3  │  =  │      │ spc │  L3 │
                        ╰─────┴─────╯      ╰─────┴─────╯

                                       L3

            ╭─────┬─────┬─────┬─────╮      ╭─────┬─────┬─────┬─────╮
            │ F7  │ F8  │ F9  │ btc │      │     │     │     │     │ 
╭─────┬─────┼─────┼─────┼─────┼─────┤      ├─────┼─────┼─────┼─────┼─────┬─────╮
│     │     │ F4  │ F5  │ F6  │ bt1 │      │     │ F10 │ F11 │ F12 │ shft│ gui │
╰─────┼─────┼─────┼─────┼─────┼─────┤      ├─────┼─────┼─────┼─────┼─────┼─────╯
      │     │ F1  │ F2  │ F3  │ bt2 │      │     │     |     | alt │ ctrl│
      ╰─────┴─────┴─────┼─────┼─────┤      ├─────┼─────┼─────┴─────┴─────╯
                        │     │     │      │     │     │
                        ╰─────┴─────╯      ╰─────┴─────╯
*/
/ {
        keymap {
                compatible = "zmk,keymap";
                L0 {
                            label = "L0";
                            bindings = <
/*                                         ╭───────────────────┬───────────────────┬───────────────────┬───────────────────╮        ╭───────────────────┬───────────────────┬───────────────────┬───────────────────╮                                         */
                                                  &kp W                &kp E                &kp R              &kp T                      &kp Y               &kp U                &kp I               &kp O
/* ╭───────────────────┬───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤        ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┬───────────────────╮ */
          &kp Q                &kp A              &kp S                &kp D                &kp F              &kp G                      &kp H               &kp J                &kp K               &kp L              &kp RSHFT           &kp RGUI
/* ╰───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤        ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────╯ */
                               &kp Z              &kp X                &kp C                &kp V              &kp B                      &kp N               &kp M                &kp P              &kp RALT            &kp RCTRL
/*                     ╰───────────────────┴───────────────────┴───────────────────┼───────────────────┼───────────────────┤        ├───────────────────┼───────────────────┼───────────────────┴───────────────────┴───────────────────╯                     */
                                                                                            &sl L1             &kp T                   &kp SPACE            &sl L2       
/*                                                                                 ╰───────────────────┴───────────────────╯        ╰───────────────────┴───────────────────╯                                                             */
                             >;
                     };
                     L1 {
                             label = "L1";
                             bindings = <
/*                                         ╭───────────────────┬───────────────────┬───────────────────┬───────────────────╮        ╭───────────────────┬───────────────────┬───────────────────┬───────────────────╮                                         */
                                                &kp AT               &kp HASH           &kp DOLLAR           &kp PERCENT                 &kp PG_UP            &kp BSPC             &kp UP             &kp TAB
/* ╭───────────────────┬───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤        ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┬───────────────────╮ */
          &kp ESC           &slashes            &squares             &squiggles          &parens              &angles                    &kp PG_DN            &kp LEFT            &kp DOWN           &kp RIGHT         &trans             &trans
/* ╰───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤        ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────╯ */
                             U_UND                U_CUT                 U_CPY             U_PST                U_RDO                      &kp HOME            &kp END             &kp ENTER           &trans           &trans
/*                     ╰───────────────────┴───────────────────┴───────────────────┼───────────────────┼───────────────────┤        ├───────────────────┼───────────────────┼───────────────────┴───────────────────┴───────────────────╯                     */
                                                                                           &none               &none                       &trans              &sl L3           
/*                                                                                 ╰───────────────────┴───────────────────╯        ╰───────────────────┴───────────────────╯                                                             */
                             >;
                     };

                     L2 {
                             label = "L2";
                             bindings = <
/*                                         ╭───────────────────┬───────────────────┬───────────────────┬───────────────────╮        ╭───────────────────┬───────────────────┬───────────────────┬───────────────────╮                                         */
                                                  &kp N7              &kp N8               &kp N9           &kp KP_SLASH                &kp CARET           &kp EXCL             &kp AMPS             &kp PIPE
/* ╭───────────────────┬───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤        ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┬───────────────────╮ */
         &kp DOT              &kp PLUS            &kp N4              &kp N5               &kp N6           &kp STAR                    &kp TILDE           &kp DQT              &kp COMMA            &kp SEMI             &trans              &trans
/* ╰───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤        ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────╯ */
                              &kp MINUS           &kp N1              &kp N2               &kp N3           &kp N0                      &kp GRAVE           &kp SQT              &kp UNDER              &trans             &trans
/*                     ╰───────────────────┴───────────────────┴───────────────────┼───────────────────┼───────────────────┤        ├───────────────────┼───────────────────┼───────────────────┴───────────────────┴───────────────────╯                     */
                                                                                           &sl L3           &kp EQUAL                     &trans            &none              
/*                                                                                 ╰───────────────────┴───────────────────╯        ╰───────────────────┴───────────────────╯                                                             */
                             >;
                     };                     
                     
                     L3 {
                             label = "L3";
                             bindings = <
/*                                         ╭───────────────────┬───────────────────┬───────────────────┬───────────────────╮        ╭───────────────────┬───────────────────┬───────────────────┬───────────────────╮                                         */
                                                 &kp F7              &kp F8               &kp F9              &bt BT_CLR                    &none              &none               &none              &none                      
/* ╭───────────────────┬───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤        ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┬───────────────────╮ */
          &none               &none              &kp F4              &kp F5               &kp F6              &bt BT_SEL 0                  &none              &kp F10             &kp F11             &kp F12             &trans             &trans
/* ╰───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┤        ├───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────┼───────────────────╯ */
                              &none              &kp F1              &kp F2               &kp F3              &bt BT_SEL 1                  &none              &none               &none              &trans               &trans
/*                     ╰───────────────────┴───────────────────┴───────────────────┼───────────────────┼───────────────────┤        ├───────────────────┼───────────────────┼───────────────────┴───────────────────┴───────────────────╯                     */
                                                                                           &none               &none                        &none              &none              
/*                                                                                 ╰───────────────────┴───────────────────╯        ╰───────────────────┴───────────────────╯                                                             */
                             >;
                     };
      };
      behaviors {
        slashes: slashes {
            compatible = "zmk,behavior-mod-morph";
            label = "slashes";
            #binding-cells = <0>;
            bindings = <&kp KP_SLASH>, <&kp BACKSLASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        squares: squares {
            compatible = "zmk,behavior-mod-morph";
            label = "squares";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp RBKT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        squiggles: squiggles {
            compatible = "zmk,behavior-mod-morph";
            label = "squiggles";
            #binding-cells = <0>;
            bindings = <&kp LBRC>, <&kp RBRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        parens: parens {
            compatible = "zmk,behavior-mod-morph";
            label = "parens";
            #binding-cells = <0>;
            bindings = <&kp LPAR>, <&kp RPAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        angles: angles {
            compatible = "zmk,behavior-mod-morph";
            label = "angles";
            #binding-cells = <0>;
            bindings = <&kp KP_SLASH>, <&kp BACKSLASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
