#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define U_RDO &kp LC(Y)
#define U_PST &kp LC(V)
#define U_CPY &kp LC(C)
#define U_CUT &kp LC(X)
#define U_UND &kp LC(Z)

#define RSTHD 0
#define NAV 1
#define NUM 2
#define SYM 3
#define FUN 4

/*
*
* Rules:
* 1) layer changes are due to holding thumb keys
* 2) avoid having to hold multiple keys like sym+shift, e.g. (sym+shift+",") should be avoided infavor of (sym+"<")
* 3) outer columns should match what you'd put on pinky top row in a pure 3 row setup
* 4) while holding a left thumb, primary actions should be on right hand & vice versa
* 5) home row mods are only on the base layer
* 6) thumb tap actions should remain consistent on all layers unless being overriden by a primary action
* 7) avoid duplicates - decisions are bad, KC_NO is fine
* 8) arrange open/close and left/right things horizontally, up/down things vertically
*/

/ {
        keymap {
                compatible = "zmk,keymap";
                RSTHD {
                        label = "RSTHD";
                        bindings = <
/*                                       ╔═══════════════════╦═══════════════════╦═══════════════════╦═════════════════╗        ╔═════════════════╦═══════════════════╦═══════════════════╦═══════════════════╗                                       */
                                               &kp C              &kp Y              &kp F              &kp K                       &kp Z              &kp L              &kp COMMA            &kp U
/* ╔═════════════════╦═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╦═════════════════╗ */
     &hto QWERTY J          &hm LGUI R         &hm LALT S         &hm LCTRL T        &hm LSHFT H        &kp D                       &kp M              &hm LSHFT N        &hm LCTRL A          &hm LALT I          &hm LGUI O       &hto GAME SEMI
/* ╚═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╝ */
                            &kp Z              &hm RALT V         &kp G              &kp P              &kp B                       &kp X              &kp W              &kp DOT              &kp Q             &kp QUESTION
/*                   ╚═══════════════════╩═══════════════════╩═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╩═══════════════════╩═══════════════════╝                   */
                                                                                     &lt NUM BSPC       &lt NAV E                 &lt SYM SPC        &lt FUN RET
/*                                                                               ╚═══════════════════╩═════════════════╝        ╚═════════════════╩═══════════════════╝                                                                               */
                             >;
                    };

                     NAV {
                             label = "Nav";
                             bindings = <
/*                                       ╔═══════════════════╦═══════════════════╦═══════════════════╦═════════════════╗        ╔═════════════════╦═══════════════════╦═══════════════════╦═══════════════════╗                                       */
                                               &none              &none              &none              &kp CAPS                    &kp PG_UP          &kp INS            &kp UP             &kp DEL
/* ╔═════════════════╦═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╦═════════════════╗ */
     &kp ESC                &kp LGUI           &kp LALT           &kp LCTRL          &kp LSHFT          &none                       &kp PG_DN          &kp LEFT           &kp DOWN           &kp RIGHT          &none                &kp K_APP
/* ╚═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╝ */
                            U_UND              U_CUT              U_CPY              U_PST              U_RDO                       &kp HOME           &kp END            &none              &none              &none
/*                   ╚═══════════════════╩═══════════════════╩═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╩═══════════════════╩═══════════════════╝                   */
                                                                                     &none              &none                       &kp SPC            &kp RET
/*                                                                               ╚═══════════════════╩═════════════════╝        ╚═════════════════╩═══════════════════╝                                                                               */
                             >;
                     };
                     NUM {
                             label = "Number";
                             bindings = <
/*                                       ╔═══════════════════╦═══════════════════╦═══════════════════╦═════════════════╗        ╔═════════════════╦═══════════════════╦═══════════════════╦═══════════════════╗                                       */
                                               &none              &none              &none              &none                       &kp KP_DIVIDE      &kp NUM_7          &kp NUM_8          &kp NUM_9
/* ╔═════════════════╦═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╦═════════════════╗ */
     &none                  &kp LGUI           &kp LALT           &kp LCTRL          &kp LSHFT          &none                       &kp KP_COMMA       &kp NUM_4          &kp NUM_5          &kp NUM_6          &kp KP_PLUS         &kp KP_MINUS
/* ╚═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╝ */
                            &none              &none              &none              &none              &none                       &kp KP_DOT         &kp NUM_1          &kp NUM_2          &kp NUM_3          &kp KP_MULTIPLY
/*                   ╚═══════════════════╩═══════════════════╩═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╩═══════════════════╩═══════════════════╝                   */
                                                                                     &none              &none                       &kp NUM_0         &kp KP_ENTER
/*                                                                               ╚═══════════════════╩═════════════════╝        ╚═════════════════╩═══════════════════╝                                                                               */
                             >;
                     };
                     SYM {
                             label = "Symbol";
                             bindings = <
/*                                       ╔═══════════════════╦═══════════════════╦═══════════════════╦═════════════════╗        ╔═════════════════╦═══════════════════╦═══════════════════╦═══════════════════╗                                       */
                                               &kp TILDE          &kp LPAR           &kp RPAR           &kp DQT                   &kp EXCLAMATION      &kp AT_SIGN        &kp HASH           &kp DOLLAR
/* ╔═════════════════╦═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╦═════════════════╗ */
     &kp TAB                &kp SLASH          &kp BACKSLASH      &kp LBRC           &kp RBRC           &kp SQT                     &kp PERCENT        &kp LSHFT          &kp LCTRL          &kp LALT           &kp LGUI              &kp CARET
/* ╚═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╝ */
                            &kp GRAVE          &none              &kp LBKT           &kp RBKT           &kp UNDERSCORE              &kp AMPERSAND      &kp C_PREV         &kp K_NEXT         &kp C_RW           &kp PIPE
/*                   ╚═══════════════════╩═══════════════════╩═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╩═══════════════════╩═══════════════════╝                   */
                                                                                     &kp BSPC            &none                       &none              &none
/*                                                                               ╚═══════════════════╩═════════════════╝        ╚═════════════════╩═══════════════════╝                                                                               */
                             >;
                     };
                     FUN {
                             label = "Func";
                             bindings = <
/*                                       ╔═══════════════════╦═══════════════════╦═══════════════════╦═════════════════╗        ╔═════════════════╦═══════════════════╦═══════════════════╦═══════════════════╗                                       */
                                               &kp F7             &kp F8             &kp F9             &kp PRINTSCREEN             &kp C_MUTE      &kp C_VOLUME_DOWN     &kp C_VOLUME_UP    &kp C_PLAY_PAUSE
/* ╔═════════════════╦═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╦═════════════════╗ */
     &kp F12                &kp F11            &kp F4             &kp F5             &kp F6             &kp SCROLLLOCK              &kp C_NEXT         &kp LSHFT          &kp LCTRL          &kp LALT           &kp LGUI             &bt BT_CLR
/* ╚═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═══════════════════╬═════════════════╝ */
                            &kp F10            &kp F1             &kp F2             &kp F3             &kp PAUSE_BREAK             &kp C_PREV         &kp C_REWIND     &kp C_FAST_FORWARD   &bt BT_PRV         &bt BT_NXT
/*                   ╚═══════════════════╩═══════════════════╩═══════════════════╬═══════════════════╬═════════════════╣        ╠═════════════════╬═══════════════════╬═══════════════════╩═══════════════════╩═══════════════════╝                   */
                                                                                     &kp BSPC            &none                      &none              &none
/*                                                                               ╚═══════════════════╩═════════════════╝        ╚═════════════════╩═══════════════════╝                                                                               */
                             >;
                     };
        };
        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping_term_ms = <250>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
                hto: hold_to {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOLD TO";
                        #binding-cells = <2>;
                        tapping_term_ms = <350>;
                        flavor = "tap-preferred";
                        bindings = <&to>, <&kp>;
                };
        };
};
